In [7]:
#import Packages
import pandas as pd
import numpy as np
import yfinance as yf

In [13]:
#Create Ticker Object
aapl = yf.Ticker("AAPL")
#dataframe
df = aapl.history(period = '6mo')

In [15]:
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-08-22 00:00:00-04:00,227.289746,227.838541,223.408290,224.036911,43695300,0.0,0.0
2024-08-23 00:00:00-04:00,225.164441,227.718817,223.837360,226.341843,38677300,0.0,0.0
2024-08-26 00:00:00-04:00,226.262015,226.780878,223.398323,226.681091,30602200,0.0,0.0
2024-08-27 00:00:00-04:00,225.503695,228.347442,224.396132,227.529236,35934600,0.0,0.0
2024-08-28 00:00:00-04:00,227.419467,229.355209,225.184381,225.992615,38052200,0.0,0.0
...,...,...,...,...,...,...,...
2025-02-14 00:00:00-05:00,241.250000,245.550003,240.990005,244.600006,40896200,0.0,0.0
2025-02-18 00:00:00-05:00,244.149994,245.179993,241.839996,244.470001,48822500,0.0,0.0
2025-02-19 00:00:00-05:00,244.660004,246.009995,243.160004,244.869995,32204200,0.0,0.0
2025-02-20 00:00:00-05:00,244.940002,246.779999,244.289993,245.830002,32316900,0.0,0.0
2025-02-21 00:00:00-05:00,245.949997,248.690002,245.220001,245.550003,53119400,0.0,0.0